<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfQfOjQz5MBXAN02rAi0IJ99jRhsQZpQE</string>
	<key>GCM_SENDER_ID</key>
	<string>53446488005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipesApp</string>
	<key>PROJECT_ID</key>
	<string>recipesapp-64e47</string>
	<key>STORAGE_BUCKET</key>
	<string>recipesapp-64e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53446488005:ios:0cb93c8b995d63ae6365ac</string>
	<key>DATABASE_URL</key>
	<string>https://recipesapp-64e47-default-rtdb.firebaseio.com</string>
</dict>
</plist>